* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body, #root {
   height: 100%;
}

input {
  width: 100%;
  padding: 4px 3px;
  outline: none;
  margin-bottom: 15px;
  margin-top: 5px;
}
