.label {
  display: block;
  border: none;
  outline: none;
  width: 90%;
  border-bottom: #ccc 2px solid;
  margin: 1% auto 5%;
  padding: 1% 0;
}

.labelName {
  display: block;
  border: none;
  outline: none;
  width: 90%;
  margin: 0 auto;
  color: #ccc;
  font-weight: bold;
  font-size: 18px;
}

.button {
  display: block;
  margin: 1% auto;
  padding: 10px;
  width: 90%;
  color: #fff;
  background-color: #49f;
  border: none;
  border-radius: 4px;
  font-size: 18px;
}

.button:hover {
  cursor: pointer;
  background-color: rgb(18, 64, 120);
}

.formContainer {
  background-color: #fff;
  padding: 20px;
  /* border: 2px solid #49f; */
  border-radius: 1%;
  min-width: 600px;
  height: 80%;
  margin: 0 auto;
  z-index: 10;
  box-shadow: -1px 1px 10px rgba(0, 0, 0, 0.4);
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: url('./../public/background.png');
  height: 100vh;
  z-index: -1;
}